.whole{
    padding-left: 0px;
    padding-right: 0px;

}

.background{
    background: #F8F8F8;
}

.back{
    border-radius: 650px 0px 0px 0px;
background: #3CA7DB;
}
.back{
    display: flex;
}

.Ce{
    color: #000;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 50px; 
}

.In{
    color: #0590D1;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 50px;
}

.chi{
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 50px;
text-transform: lowercase;
}

.btn_1{
    border-radius: 40px;
    background: #0391D3;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 200px;
    height: 50px;
    border:none;
}

.Bbe{
    color: #515151;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
gap: 10px;
}
.content{
    gap: 10px;
}

.zero{
    color: #0391D3;
font-family: Roboto;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 50px; 
}

.card1{
    display: flex;
}

.text1{
    color: #515151;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-transform: lowercase;
display: flex;

}

.main_cards{
    display: flex;
    justify-content: space-between;
}

.one{
    color: #0391D3;
font-family: Roboto;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 69.444% */
}

.card2{
    display: flex;
    /* border: 1px solid grey; */
}

.card3{
    display: flex;
}

.three{
    color: #0391D3;
font-family: Roboto;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 69.444% */
}

.text_3{
    color: #515151;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.first{
    padding:50px;
}

.content{
    gap:20px;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {

    .smallPage{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }

    .main_cards{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .sec{
        width: 60%;
    }

    .man{
        width: 80%;
        right: -48px;

    }

    .back{
        right: -48px;
    }

    .next{
        width: 63%;
    left: -97px;
    height: 105%;
    
}

.last{
    left: -127px !important;
    width: 75%;
    top: 23%;
}

.first{
    padding-left: 0;
}
        
    }


    @media only screen and (min-width: 400px) and (max-width: 800px){
       .first{
        padding-left: 0px !important;
       }

       .next{
        width: 110px !important;
        left: -57px !important;
       }

       .last{
        width: 130px !important;
        left: -130px !important;
        top: 88px !important;
       }

       .man{
        width: 200px;
        bottom:300px !important;
       }
    }
    

